@charset "UTF-8";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/*header*/
.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #222426;
  z-index: 1;
}

.container {
  padding: 0;
}

.header .container .row div:nth-child(1) {
  padding-right: 0;
}

.header .container .row div:nth-child(1) > p {
  margin: 0;
  color: white;
  font-family: "微软雅黑";
  font-size: 1.4rem;
}

.header .container .row div:nth-child(2) {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.header .container .row div:nth-child(2) > a {
  color: white;
  font-family: "微软雅黑";
  font-size: 1.4rem;
  margin-right: 9%;
  text-decoration: none;
}

.header .container .row div:nth-child(2) > a:hover {
  color: #f2001c;
}

.header .container .row div:nth-child(2) > a:nth-last-child(1) {
  margin-right: 0;
}

/*header*/
/*导航栏*/
.nav_menu .nav_menu_second {
  float: right;
  margin-right: 45%;
  text-align: center;
  display: none;
  cursor: pointer;
}

.nav_menu .nav_menu_second dl dd a {
  font-family: "微软雅黑";
  font-size: 1.8rem;
  color: white;
  display: block;
  text-decoration: none;
  line-height: 40px;
}

.icon {
  cursor: pointer;
}

.nav_menu .nav_menu_second dl dd a:hover {
  color: #f0021e;
}

.nav_menu {
  background: rgba(11, 12, 13, 0.8);
  position: absolute;
  z-index: 1;
  top: 40px;
  width: 100%;
}

.nav_menu .container .row .logo img {
  padding: 37px 0;
  float: left;
  display: block;
}

.nav_menu .container .row .nav_bar {
  float: left;
  height: 120px;
}

.nav_menu .container .row .nav_bar ul li {
  float: left;
  width: 20%;
  line-height: 120px;
  text-align: center;
}

.nav_menu .container .row .nav_bar ul li a {
  font-family: "微软雅黑";
  font-size: 1.8rem;
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
}

.nav_menu .container .row .nav_bar ul li:first-child a {
  color: #f2001c;
  font-size: 1.8rem;
  font-family: "微软雅黑";
}

.nav_menu .container .row .nav_bar ul li:first-child a:before {
  content: url(../img/nav_menu_left.png);
  position: absolute;
  display: inline-block;
  left: 4.8%;
}

.nav_menu .container .row .nav_bar ul li:first-child a:after {
  content: url(../img/nav_menu_right.png);
  position: absolute;
  display: inline-block;
  left: 68.8%;
  top: -6.2%;
}

.nav_menu .container .row .nav_bar ul .state a:after {
  content: url(../img/nav_menu_right.png);
  position: absolute;
  display: inline-block;
  left: 80.8%;
  top: -6.2%;
  display: none;
}

.nav_menu .container .row .nav_bar ul .state:hover a:before {
  display: block;
}

.nav_menu .container .row .nav_bar ul .state:hover a:after {
  display: block;
}

.nav_menu .container .row .nav_bar ul li a:hover {
  color: #f2001c;
  font-family: "微软雅黑";
}

.search {
  padding-top: 40px;
  color: #a1a1a1;
}

.nav_menu .input-group {
  float: right;
}

.search .form-control {
  font-size: 1.8rem;
  font-family: "微软雅黑";
  padding: 0px 16px;
  height: 40px;
  outline: none;
  line-height: 40px;
}

.search input {
  border: 1px #999999 solid;
}

.input-group-addon {
  background-color: #f2001c;
  border: 1px #999999 solid;
}

.glyphicon-search {
  color: white;
}

.nav_menu .container .row div:nth-child(4) {
  color: white;
  font-size: 2rem;
  display: none;
  line-height: 66px;
}

/*a:before媒体查询*/
@media only screen and (min-width: 994px) and (max-width: 1200px) {
  .nav_menu .container .row .nav_bar ul .state a:before {
    content: url(../img/nav_menu_left.png);
    position: absolute;
    display: inline-block;
    left: -6.2%;
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .nav_menu .container .row .nav_bar ul .state a:before {
    content: url(../img/nav_menu_left.png);
    position: absolute;
    display: inline-block;
    left: -1.2%;
  }
}

/*a:before媒体查询*/
/*移动端布局*/
@media only screen and (max-width: 780px) {
  .header .container .row div:nth-child(1) {
    display: none;
  }
  .nav_menu .container .row div:nth-child(4) {
    display: block;
  }
  .nav_menu .container .row .nav_bar {
    display: none;
  }
  .search {
    display: none;
  }
  .nav_menu .container .row .logo img {
    padding: 10px 0;
  }
  .header .container .row div:nth-child(2) > a:nth-child(1) {
    display: none;
  }
  .header .container .row div:nth-child(2) > a:nth-child(4) {
    display: none;
  }
  .nav_menu .container .row div:nth-child(4) {
    text-align: right;
  }
}

@media only screen and (min-width: 781px) and (max-width: 994px) {
  .nav_menu .container .row .nav_bar {
    display: none;
  }
  .search {
    display: none;
  }
  .nav_menu .container .row .logo img {
    padding: 10px 0;
  }
  .nav_menu .container .row div:nth-child(4) {
    display: block;
    text-align: right;
  }
}

/*row*/
@media only screen and (max-width: 1020px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1220px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

/*row*/
/*移动端布局*/
/*导航栏*/
/*banner*/
.carousel-control {
  top: 43.33%;
}

#myCarousel .carousel-inner .item i {
  background: url(../img/banner.jpg) center no-repeat;
  text-align: center;
  height: 1080px;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control.left {
  background: url(../img/banner_left.png) no-repeat;
  width: 89px;
  height: 149px;
  display: block;
  left: 18.75%;
  background-size: 100%;
}

.carousel-control.left:hover {
  background: url(../img/banner_left1.png) no-repeat;
}

.carousel-control.right {
  background: url(../img/banner-right0.png) no-repeat;
  width: 89px;
  height: 149px;
  display: block;
  right: 18.75%;
  background-size: 100%;
}

.carousel-control.right:hover {
  background: url(../img/banner-right.png) no-repeat;
}

.scroll_top {
  position: absolute;
  bottom: 0.4%;
  left: 49%;
  width: 3.85%;
  height: 10.4%;
  display: block;
  background-image: url(../img/tobottom.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100%;
}

.scroll_down {
  position: absolute;
  bottom: 266px;
  left: 49%;
  width: 3.85%;
  height: 10.4%;
  display: block;
  background-image: url(../img/scroll_down.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100%;
  display: none;
  z-index: 1;
  top: 733px;
}

.product {
  width: 84.6%;
  height: 434px;
  background: rgba(32, 31, 31, 0.8);
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  max-width: 1200px;
}

.product .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.box .row {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
}

.box {
  width: 100%;
  overflow: hidden;
  height: 316px;
  position: relative;
  margin: 0 auto;
}

.box img {
  border: 2px solid #939393;
}

.box .row li {
  width: 410px;
  height: 316px;
  position: absolute;
  top: 0;
}

.box li img {
  display: block;
}

.box li:hover img {
  border: 2px solid #f2001c;
  cursor: pointer;
}

.box li span {
  color: white;
  font-family: "微软雅黑";
  font-size: 1.8rem;
  position: absolute;
  bottom: 2px;
  left: 1%;
  background: rgba(0, 1, 3, 0.4);
  height: 70px;
  display: block;
  text-align: center;
  line-height: 70px;
  width: 78.2%;
}

.box li span a {
  text-decoration: none;
  color: white;
  display: block;
}

.scroll_pro {
  width: 96%;
  position: relative;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}

#prev, #next {
  display: block;
  position: absolute;
  width: 89px;
  height: 149px;
  top: 26%;
  z-index: 1;
}

#prev {
  background: url(../img/banner_left.png) no-repeat left center;
  left: 2%;
}

#prev:hover {
  background: url(../img/pro_left2.png) no-repeat left center;
}

#next {
  background: url(../img/pro_right.png) no-repeat left center;
  right: 2%;
}

#next:hover {
  background: url(../img/pro_right2.png) no-repeat left center;
}

.max-pro {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

/*banner*/
@media only screen and (max-width: 768px) {
  .carousel-control.left {
    display: none;
  }
  .carousel-control.right {
    display: none;
  }
  .scroll_down {
    width: 8.85%;
  }
  .scroll_top {
    width: 8.85%;
  }
}

@media only screen and (max-width: 500px) {
  #prev, #next {
    display: none;
  }
}
