@charset "UTF-8";
/*header*/
.header .container .row div:nth-child(2) > a:nth-child(3) {
  color: #e8021d;
}

/*header*/
/*导航栏*/
.nav_menu .container .row .nav_bar ul li:first-child a {
  color: white;
  font-size: 1.8rem;
  font-family: "微软雅黑";
}

.nav_menu .container .row .nav_bar ul li:first-child a:before {
  content: url(../img/nav_menu_left.png);
  position: absolute;
  display: inline-block;
  left: 4.8%;
  display: none;
}

.nav_menu .container .row .nav_bar ul li:first-child a:after {
  content: url(../img/nav_menu_right.png);
  position: absolute;
  display: inline-block;
  left: 68.8%;
  top: -6.2%;
  display: none;
}

.nav_menu .container .row .nav_bar ul li:first-child:hover a:before {
  display: block;
}

.nav_menu .container .row .nav_bar ul li:first-child:hover a:after {
  display: block;
}

/*导航栏*/
/*banner*/
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
  background: url(../img/login_banner.jpg) center;
}

.banner .banner_content {
  width: 662px;
  background: rgba(11, 12, 13, 0.8);
  border: 2px solid #eae4de;
  display: block;
  padding-top: 38px;
  margin-top: 90px;
}

.banner .banner_content .input_list {
  width: 89%;
  margin: 0 auto;
}

.banner .banner_content .input_list input {
  width: 55%;
  border-radius: 0;
  border: 1px solid #666666;
  font-family: "微软雅黑";
  font-size: 1.4rem;
  color: #333333;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
}

.banner .banner_content .input_list .form-horizontal .form-group {
  margin-bottom: 18px;
}

.banner .banner_content .input_list label {
  float: left;
  line-height: 40px;
  font-size: 1.4rem;
  font-family: "微软雅黑";
  color: white;
  font-weight: normal;
  margin-right: 3%;
  margin-left: 2%;
  margin-bottom: 0;
}

.banner .banner_content .input_list .form_alert {
  float: right;
  padding: 0 2%;
  height: 40px;
  display: none;
}

.banner .banner_content .input_list .form_alert i {
  width: 13px;
  height: 13px;
  display: block;
  background: url(../img/alert.png);
  float: left;
  margin-top: 14px;
}

.banner .banner_content .input_list .form_alert p {
  float: left;
  line-height: 40px;
  font-size: 1.2rem;
  font-family: "微软雅黑";
  color: #f9001d;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(2) label {
  margin-right: 5.2%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(2) .form_alert {
  padding-right: 4%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(3) label {
  margin-right: 0.6%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(3) .form_alert {
  padding-right: 10%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(4) label {
  margin-right: 4%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(4) .form_alert {
  padding-right: 8%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(5) label {
  margin-right: 3%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(5) .form_alert {
  padding-right: 8%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(6) .form-control {
  border-radius: 0;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(6) label {
  margin-right: 3%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(6) {
  margin-bottom: 10px;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(6) .form_alert {
  padding-right: 11.8%;
  margin-top: -41px;
}

.banner .banner_content .input_list .form-horizontal .form-group #address {
  width: 25%;
  height: 40px;
  float: left;
  margin-right: 5%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(7) label {
  margin-right: 3%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(7) .form_alert {
  padding-right: 8%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(7) input {
  width: 30%;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(7) img {
  margin-top: -3px;
  margin-left: 9%;
}

.banner .banner_content .input_list .form-horizontal .checkbox input {
  width: 12px;
  height: 12px;
  padding-top: 0;
}

.banner .banner_content .input_list .form-horizontal .checkbox label {
  line-height: 20px;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(9) input {
  width: 58%;
  margin-left: 10%;
  font-family: "微软雅黑";
  font-size: 1.4rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 32px;
  background: #fa001d;
  border: none;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(10) p {
  margin-left: 29%;
  margin-bottom: 40px;
}

.banner .banner_content .input_list .form-horizontal div:nth-child(10) p a {
  font-family: "微软雅黑";
  font-size: 1.4rem;
  color: white;
}

.checkbox {
  margin-left: 8%;
}

#inlineCheckbox1 {
  visibility: hidden;
}

.checkbox label {
  background: url(../img/register.png) no-repeat left center;
}

.checkbox label.on {
  background: url(../img/register2.png) no-repeat left center;
}

@media only screen and (max-width: 662px) {
  .banner .banner_content .input_list .form_alert {
    display: none;
  }
  .banner .banner_content {
    height: 667px;
  }
  .banner .banner_content .input_list label {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .banner .banner_content .input_list input {
    height: 30px;
    width: 90%;
  }
  .banner .banner_content .input_list .form-horizontal .form-group #address {
    height: 30px;
    width: 40%;
  }
  .banner .banner_content {
    padding-top: 10px;
  }
  .banner .banner_content .input_list .form-horizontal .form-group {
    margin-bottom: 8px;
  }
  .banner .banner_content .input_list .form-horizontal div:nth-child(9) input {
    margin-bottom: 10px;
    line-height: 30px;
    margin-left: -3%;
  }
  .banner .banner_content .input_list .form-horizontal div:nth-child(10) p {
    margin-left: 12%;
  }
  .banner .banner_content .input_list .form-horizontal div:nth-child(7) img {
    height: 30px;
  }
  .banner .banner_content .input_list .form_alert {
    height: 0;
  }
}

input {
  outline: none;
}

button {
  outline: none;
}

/*banner*/
