$color:#222426;
$font-family:"微软雅黑";
$font-size:1.4rem;
$font-size2:1.8rem;
$font-size3:2rem;
$color2:white;
$color3:#f2001c;
/*header*/
.header .container .row div:nth-child(2)>a:nth-child(1){color: #e8021d;}
/*header*/
/*导航栏*/
.nav_menu .container .row .nav_bar ul li:first-child a{color: $color2;font-size: $font-size2;font-family: $font-family;}
.nav_menu .container .row .nav_bar ul li:first-child a:before{content: url(../img/nav_menu_left.png);position: absolute;display: inline-block;left: 4.8%;display: none;}
.nav_menu .container .row .nav_bar ul li:first-child a:after{content: url(../img/nav_menu_right.png);position: absolute;display: inline-block;left: 68.8%;top:-6.2%;display: none; }
.nav_menu .container .row .nav_bar ul li:first-child:hover a:before{display: block;}
.nav_menu .container .row .nav_bar ul li:first-child:hover a:after{display: block;}
/*导航栏*/
/*banner*/
.banner{width: 100%;display: flex;align-items: center;justify-content: center;height: 1080px;background: url(../img/login_banner.jpg) center;}
.banner .banner_content{width: 1200px;height:700px;background: rgba(11,12,13,0.8);border: 2px solid #eae4de;display: block;padding-top: 18px;margin-top: 24px;}
.banner .banner_content .background .user_background{width: 102%;height: 53px;display: block;background-image: url(../img/title.png);margin-left: -23px;}
.banner .banner_content .background .user_background i{width: 21px;height: 21px;display: block;background:url(../img/huyiyuan.png);float: left;margin-left: -248px;margin-top: 8px;}
.banner .banner_content .background .user_background h3{float: left;font-family: $font-family;color: $color2;margin-top: 8px;}
.banner .banner_content .background .user_background h3:nth-child(1){font-size: $font-size2;margin-left: 7%;}
.banner .banner_content .background .user_background h3:nth-child(2){font-size: 1.6rem;margin-left: 0.8%;}
.banner .banner_content .background .user_background p{float: right;font-family: $font-family;font-size: 16px;margin-right: 2%;line-height: 34px;}
.banner .banner_content .background .user_background p a{color: #f2001c;text-decoration: none;}
.scrollbar{height: 596px;width: 97%;margin: 0 auto;background: transparent;overflow-y: scroll;overflow-x: hidden;margin-bottom: 48px;margin: 0;}
.force-overflow{min-height: 450px;}
/*定义滚动条轨道 内阴影+圆角*/
#style-10::-webkit-scrollbar-track{background-color: white;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#style-10::-webkit-scrollbar{width: 10px;background-color:$color3;}
/*定义滑块 内阴影+圆角*/
#style-10::-webkit-scrollbar-thumb{background-color: #AAA;background: $color3;}
/*banner*/
.user_content{margin-top: 15px;}
.user_content .container .row .user_nav{width: 17.667%;padding-left: 24px;padding-right: 30px;}
.user_content .container .row .user_nav dl{background:rgba(193,192,192,0.8) ;text-align: center;height:463px;}
.user_content .container .row .user_nav dl dd a{font-family: $font-family;font-size: 1.4rem;color: #504f4f;line-height: 35px;text-decoration: none;display: block;}
.user_content .container .row .user_nav dl dt a{font-family: $font-family;font-size: 1.6rem;color: #424241;line-height: 35px;text-decoration: none;display: block;}
.user_content .container .row .user_nav dl dd{height: 35px;}
.user_content .container .row .user_nav dl dt{height: 35px;}
.user_content .container .row .user_nav dl dt:hover{background:#f8001d ;}
.user_content .container .row .user_nav dl dt:hover a{color: white;}
.user_content .container .row .user_nav dl dd:hover{background:#f8001d ;}
.user_content .container .row .user_nav dl dd a:hover{color: white;}
.user_content .container .row .user_nav dl dd:nth-child(6){background:#f8001d ;}
.user_content .container .row .user_nav dl dd:nth-child(6) a{color: white;}
.user_content .container .row .user_nav dl .last_nav{margin-bottom: 13px;}
.user_content .container .row .user_information{width: 80%;margin-left: 2%;padding: 0;}
.user_content .container .row .user_information .user_details .user{width: 96.6%;clear: both;overflow: hidden;background: rgba(153,152,152,0.9);}
.user_content .container .row .user_information .user_details .user img{float: left;padding: 13px 0 14px 3%;}
.user_content .container .row .user_information .user_details .user div ul li{float: left;font-family: $font-family;font-size: 1.3rem;color:#414140 ;
margin-right: 16.4%;}
.user_content .container .row .user_information .user_details .user div{float:left;margin-left: 2.9%;width: 81.9%;margin-top: 16px;}
.user_content .container .row .user_information .user_details .user h6{font-family: $font-family;font-size: 1.4rem;color: #333333;font-weight: 600;
margin-top: 0;}
.user_content .container .row .user_information .user_details .user div ul{padding-left: 0;margin-top: 36px;clear: both;overflow: hidden;}
.user_content .container .row .user_information .user_details .user div ul li span{color: #f2001c;}
.user_content .container .row .user_information .user_details .user div ul li:nth-child(4) a{color: #f2001c;}
.user_content .container .row .user_information .user_details .user div ul li:nth-child(4){margin-right: 0;}
.user_content .container .row .user_information .user_details .common_title{width: 96.6%;margin-top: 20px;}
.user_content .container .row .user_information .user_details .common_title h6{color:#f2001c ;margin-top: 0;margin-bottom: 3px;font-size: 1.4rem;font-family: $font-family;}
.user_content .container .row .user_information .user_details .common_title i{border-top:  1px #cdcdcd solid;width: 100%;display: block;}
.common_title li div{width: 288px;position: relative;}
.common_title li{position: relative;margin-top: 8px;}
.common_title li div img{max-width: 100%;}
.common_title li div .tips{position: absolute;left: 0;bottom: 0;background:rgba(193,192,192,0.8) ;text-align: center;height: 47px;line-height: 20px;
font-family: "宋体";font-size: 1.1rem;width: 100%;}
.common_title li div .tips p{color:#333333 ;margin-bottom: 0;}
.common_title li div .tips p:nth-child(1){margin-top: 6px;}
.common_title li div .tips p:nth-child(1) a{text-decoration: none;color: #333333;}
.navbar-default{background: transparent;border-radius: 4px;}
.navbar-default .navbar-nav > li > a{color: white;}
.dropdown-menu > li > a:hover{background: transparent;}
.dropdown-menu > li > a{color: white;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color: white;background: transparent;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color: white;background: transparent;}
.dropdown-menu{background-color:transparent;min-width:100px;border:1px solid white;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{color: #f2001c;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{color: red;}
@media only screen and (max-width:420px){.navbar-default .navbar-nav .open .dropdown-menu > li > a{margin-right: 18%;}}
@media only screen and (max-width:600px){.banner .banner_content .background .user_background p{display: none;}}
@media only screen and (min-width:1220px){.navbar-default{display: none;}}
@media only screen and (max-width:1217px){.banner .banner_content .background .user_background i{display: none;}}
.navbar-default{font-family: $font-family;font-size: 1.4rem;}
@media only screen and (max-width:1220px){.banner .banner_content{width: 100%;}.user_content .container .row .user_nav{display: none;}
.banner .banner_content{width: 100%;}.scrollbar{height: 496px;}}
@media only screen and (max-width:1200px){.navbar-default{width: 98%;}
.user_content .container .row .user_information{width: 98%;}}
@media only screen and (max-width:768px){.navbar-nav .open .dropdown-menu{position: absolute;border: 1px solid white;top: 47px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: white;}}
@media only screen and (max-width:598px){.navbar-default{width: 95%;}}
@media only screen and (max-width:768px){.navbar-default .navbar-nav .open .dropdown-menu > li > a{margin-left: -8%;}}
@media only screen and (max-width:992px){.user_content .container .row .user_information .user_details .user div ul li{width: 100%;}
.user_content .container .row .user_information .user_details .user div{float: right;width: auto;}}
@media only screen and (max-width:536px){.user_content .container .row .user_information .user_details .user div{float: left;width: auto;}}
@media only screen and (min-width:450px) and (max-width:767px){.common_title li{margin-left: 20%;}}
@media only screen and (max-width:370px){.common_title li div{width: 250px;}}
